<!DOCTYPE html>
<html>

<!-- Mirrored from affixtheme.com/html/xmee/demo/login-24.html by HTTrack Website Copier/3.x [XR&CO'2014], Thu, 13 Apr 2023 04:37:40 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{title}}</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <!-- default favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="\images\img\favicon-login-27.png">
    {{!-- render the content block named Favicon --}}
    {{!-- {{#block "favicon"}}{{/block}} --}}
    {{!-- {{faviconPartial}} --}}
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="\stylesheets\css\bootstrap.min.css">
    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="\stylesheets\css\fontawesome-all.min.css">
    <!-- Flaticon CSS -->
    <link rel="stylesheet" href="\font\flaticon.css">
    <!-- Google Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;display=swap" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="\stylesheets\style.css">
</head>

  <body>
    {{{body}}}
       <!-- jquery-->
    <script src="\javascripts\js\jquery-3.5.0.min.js"></script>
    <!-- Bootstrap js -->
    <script src="\javascripts\js\bootstrap.min.js"></script>
    <!-- Imagesloaded js -->
    <script src="\javascripts\js\imagesloaded.pkgd.min.js"></script>
    <!-- YouTube js -->
    <script src="\javascripts\js\jquery.mb.YTPlayer.min.js"></script>
    <!-- Validator js -->
    {{!-- <script src="\js/validator.min.js"></script> --}}
    <!-- Custom Js -->
    <script src="\javascripts\js\main.js"></script>
  </body>
</html>
