
<body>
  <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
  <div id="preloader" class="preloader">
    <div class="inner">
      <div class="line1"></div>
      <div class="line2"></div>
      <div class="line3"></div>
    </div>
  </div>
  <section
    class="fxt-template-animation fxt-template-layout24"
    data-bg-image="\images\img\figure\bg24-l.jpg"
  >
    <!-- Video Area Start Here -->
    <div class="fxt-video-background">
      <div class="fxt-video">
        <div
          id="fxtVideo"
          data-property="{
                    videoURL:'F_7ZoAQ3aJM', 
                    autoPlay:true, 
                    mute:true, 
                    loop:false, 
                    startAt:0,
                    opacity:1, 
                    quality:'default', 
                    showControls:false, 
                    optimizeDisplay:true,
                    containment:'.fxt-video-background'
                }"
        >
        </div>
      </div>
    </div>
    <!-- Video Area Start Here -->
    <div class="container">
      <div class="row align-items-center justify-content-center">
        <div class="col-lg-3 col-12">
          <div class="fxt-header">
            <a href="/register" class="fxt-logo"><img
                src="\images\img\signuplogo.jpg"
                alt="Logo"
              /></a>
          </div>
        </div>
        <div class="col-lg-6 col-12">
          <div class="fxt-content">
            <h2>Register for new account</h2>
            <div class="fxt-form">
              <form method="POST" action="/signup" id="signupForm">
                <div class="form-group">
                  <div class="fxt-transformY-50 fxt-transition-delay-1">
                    <input
                      type="text"
                      id="name"
                      class="form-control"
                      name="name"
                      placeholder="Name"
                    />
                     <div id="usernameError" class="errorMsg"></div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="fxt-transformY-50 fxt-transition-delay-1">
                    <input
                      type="email"
                      id="email"
                      class="form-control"
                      name="email"
                      placeholder="Email"
                    />
                     <div id="emailError" class="errorMsg"></div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="fxt-transformY-50 fxt-transition-delay-2">
                    <input
                      id="password"
                      type="password"
                      class="form-control"
                      name="password"
                      placeholder="Password"
                    />
                    <i
                      toggle="#password"
                      class="fa fa-fw fa-eye toggle-password field-icon"
                    ></i>
                  </div>
                     <div id="passwordError" class="errorMsg"></div>
                </div>
                <div class="form-group">
                  <div class="fxt-transformY-50 fxt-transition-delay-3">
                    <div class="fxt-checkbox-area">
                      <div class="checkbox">
                        <input id="checkbox1" type="checkbox" />
                        <label for="checkbox1">Accept terms and conditions.</label>
                      </div>
                    </div>
                     <div id="checkboxError" class="errorMsg" style="color: red;"></div>
                  </div>
                </div>
                <div class="form-group">
                  <div class="fxt-transformY-50 fxt-transition-delay-4">
                    <button type="submit" class="fxt-btn-fill">Sign Up</button>
                  </div>
                </div>
              </form>
                {{#if message}}
                {{#if success}}
                    <p class="success-message">{{message}}</p>
                    {{else}}
                    <p class="error-message">{{message}}</p>
                    {{/if}}
                {{/if}}
            </div>
          
            <div class="fxt-footer">
              <div class="fxt-transformY-50 fxt-transition-delay-9">
                <p>Have an existing account?<a
                    href="/"
                    class="switcher-text2 inline-text"
                  >Log in</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
 

<script src="\javascripts\js\validation\validation.js"></script>